h1 {
  text-align: center;
  color: red;
}

.wholeBoard{
  width: 100%;
  height: 100%;
}

.player1 {
  background-color: blue;

}

.player2 {
  background-color: red;
  
}

.button {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 150px;
}


.wholeBoard {
  margin: auto;
  background-color: yellow;
}

.row1 {
  margin: auto;
}

.page {
  background-color: blue;
}
